kafka-python==2.0.2
minio==7.1.11
pandas==2.0.3
sqlalchemy==1.4.46
psycopg2-binary==2.9.7
duckdb==0.8.1
streamlit==1.24.1
plotly==5.15.0
faker==18.9.0
fastparquet==2024.5.0
requests==2.31.0
python-dotenv==1.0.0
beautifulsoup4==4.12.3
